.blocker {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.submitter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}